<div class="card">
  <div class="card-header bg-primary text-white">
    Mi lista de productos
  </div>
  <div class="card-block">
    @if(products.length) {
      <div class="table-responsive">
        <table class="table table-striped m-0">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Disponible</th>
            </tr>
          </thead>
          <tbody>
            @for (product of products; track product.id) {
              <tr>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available}}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <h3 class="p-4">No hay productos disponibles</h3>
    }
  </div>
</div>
